* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rosybrown;
}

a {
  text-decoration: none;
  color: slategray;
}

.container {
  background-color: antiquewhite;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

section {
  margin: 1rem auto;
  padding: 1rem;
  border-bottom: 0.1rem dotted slategray;

  h2 {
    display: block;
    color: rosybrown;
    padding: 0.3rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border-left: 2px dotted rosybrown;
    border-bottom-right-radius: 0;
    border-bottom: 2px solid rgba(rosybrown, 0.7);
  }
}

ul {
  margin-left: 2rem;
  list-style-type: "✸";

  li::marker {
    color: rosybrown;
  }

  li {
    padding-left: .7rem;
  }
}

// header
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-bottom: 2px solid rgba(rosybrown, 0.7);

  a {
    margin: auto 0.5rem;
    color: slategray;
    text-decoration: none;
    font-weight: 500;
  }

}

// about me

#about-me {
  display: flex;
  flex-direction: column;

  .person {
    display: flex;
    align-items: center;
    margin: 1rem 0;

    h2 {
      font-size: 1.1rem;
      background-color: transparent;
      margin-left: 0;
      padding: 0;
      border: none;
    }

    img {
      width: 40%;
      border-radius: 30%;
      margin-right: 1rem;
      border: .3rem solid slategray;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;

  article {
    text-align: center;
    padding: 2rem 0;

    img {
      margin: 1rem 0px;
      width: 80%;
    }
  }
}

#contact {
  margin-bottom: 0;

  .contact {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    div {
      p {
        padding-left: 2rem;
        line-height: 2rem;
      }
    }

  }

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

@media only screen and (min-device-width: 481px) {
  header nav {
    justify-content: flex-end;
  }

  .container {
    margin: 2rem;
    padding: 0 2rem;
  }

  #about-me .person img {
    width: 20%;
  }

  .projects {
    flex-direction: row;

    hr {
      display: none;
    }

    article {
      width: 35%;

    }
  }
}
